body {
    header {
        background-image: url("./assets/images/Lunch.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        nav {
            .logo {
                width: 100px;
            }
            .menu {
                .dropdown-item {
                    .dropdown {
                        .dropdown-bg {
                            position: absolute;
                            left: 0;
                            top: 0;
                            z-index: -1;
                        }
                        .dropdown-upper-bg {
                            position: absolute;
                            left: 46%;
                            top: -5%;
                            z-index: -1;
                        }
                    }
                }
            }
        }
        .quote-wrapper {
            background-image: url("./assets/vectors/grey_quote.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            
        }
        
    }
    main {
        .main-background-up {
            width: 100%;
            position: absolute;
            z-index: -1;
        }
        .founder-section {
            .founder-image {
                max-height: 618px;
                max-width: 100%;
            }
            .founder-quotes {
                position: absolute;
                bottom: 10%;
                left: 42%;
            }
        }
        .story-section {
            .tile-wrapper {
                .tile {
                    .tile-top {
                        .tile-img {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
    footer {
        .main-background-down {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -2;
        }
        .footer-background {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
    }
} 