$dark-grey: #494A4D;
$dark-grey-hover: #18191A;
$mid-grey: #7A7D85;
$light-grey: #A3A5A8;
$light-text: #636569;
$custom-white: #E4E4E5;
$tile-text: #DFE0E5;
$tile-products: #C6C7CC;
$yellow: #F2D630;
$yellow: #F2D630;
$dark-grey: #494A4D;
$light-grey-layout: #E4E4E5;