body {
    header {
        background-image: url("./assets/images/Lunch.png");
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;

        nav {
            .logo {
                width: 100px;
            }
        }
        .quote-wrapper {
            background-image: url("./assets/vectors/grey_quote.svg");
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            
        }
    }
    main {
        .main-background-up {
            width: 100%;
            position: absolute;
            z-index: -1;
        }
        .founder-section {
            .founder-image {
                max-height: 618px;
            }
        }
        .story-section {
            .tile-wrapper {
                .tile {
                    .tile-top {
                        .tile-img {
                            max-width: 580px;
                        }
                    }
                }
            }
        }
    }
    footer {
        .main-background-down {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -2;
        }
        .footer-background {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: -1;
        }
    }
} 