@import "./layout.scss";
@import "./typography.scss";
@import "./images.scss";
@import "./buttons.scss";

$dark-grey: #494A4D;
$light-grey: #E4E4E5;

.swiper {
    width: 100vw;
    height: 693px;


    .swiper-wrapper {
        overflow: visible;
        .swiper-slide {
            display: flex;
            align-items: center;
            position: relative;
            overflow: hidden;
            .slide-img-left,
            .slide-img-right {
                width: 50%;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                transition: transform 0.7s ease;
            }
            
            
            .slide-img-left {
                left: 0;
            }
            
            .slide-img-right {
                right: 0;
            }
            
            .slide-article {
                width: 50%;
                padding: 20px;
                box-sizing: border-box;
                transition: transform 0.7s ease;
                display: flex;
                flex-direction: column;
                justify-content: start;
                max-width: 475px;
                max-height: 342px;
            }
        }
        
        
    }

    

    .swiper-pagination {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;
    }

    .swiper-pagination-bullet {
        width: fit-content;
        height: fit-content;
        border-radius: 0;
        margin: 0 5px;
        padding: 0 30px;
        background-color: $light-grey;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        opacity: 1;
        height: 49px;
        transition: background-color 0.3s ease, height 0.3s ease;
    }

    .swiper-pagination-bullet-active {
        background-color: $dark-grey;
        cursor: auto !important;
        height: 62px;
    }

    .first-slide.swiper-pagination-bullet:not(.swiper-pagination-bullet-active)::before {
        content: url('./assets/vectors/left_arrow.svg');
    }

    .second-slide.swiper-pagination-bullet:not(.swiper-pagination-bullet-active)::after {
        content: url('./assets/vectors/right_arrow.svg');
    }

    .swiper-container {
        width: 80%;
        margin: auto;
    }
}
